<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Core Online Tutorial - List Products</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<link href="../../static/css/spring-core.css"
	th:href="@{css/spring-core.css}" rel="stylesheet" media="screen" />

<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">

<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<style type="text/css">
.container-full {
	margin: 0 auto;
	width: 98%;
}
</style>
</head>
<body>
	<div class="container-fluid">
		<div class="container">
			<div class="panel panel-info">
				<div class="panel-body">
					<b th:text="${logs.size()}"></b> Record Found &nbsp;&nbsp;
					<b th:text="${logs.size()}"></b> Error Log Found&nbsp;&nbsp;
					<b th:text="${logs.size()}"></b> Java Exception Found&nbsp;&nbsp;
				</div>
			</div>
		</div>


		<form th:object="${LogSearch}" th:action="@{/log/list}" method="get">


			<div class="row">
				<div class="col-sm-12">
					<th:block th:each="loglevel : ${LogSearch.LogLevels}">
						<input type="checkbox" th:checked="${loglevel.selected}"
							name="loglevelNames" th:value="${loglevel.name}" />
						<label th:text="${loglevel.name}"></label>
					</th:block>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<th:block th:each="nfType : ${LogSearch.NfTypes}">
						<input type="checkbox" th:checked="${nfType.selected}"
							name="selectedNfNames" th:value="${nfType.name}" />
						<label th:text="${nfType.name}"></label>
					</th:block>
				</div>
			</div>
			<div class="row">
				<div class="input-group add-on">
					<input class="form-control" placeholder="Search"
						th:value="${LogSearch.search}" name="search" id="search"
						type="text">
					<div class="input-group-btn">
					 <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-danger wrn-btn">Search</button>
                        </div>
					</div>
				</div>
			</div>



			<div th:fragment="table (logs)">
				<div style="width: 95%;">
					<table id="logs" class="table table-striped table-hover">
						<thead>
							<tr>
								<th scope="col" style="width: 3%">Id-LOG_TIME</th>
								<th scope="col" style="width: 3%">SPEC INFO</th>
								<th scope="col" style="width: 3%">SUPI-PEI</th>
								<th scope="col" style="width: 3%">NF INFO</th>
								<th scope="col" style="width: 3%">FROM-TO</th>
								<th scope="col" style="width: 3%">IP</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="log : ${logs}">
								<tr th:classappend="${log.getCssClass()}">
									<td><span th:text="'ID:' +${log.id}"></span><br> <span
										th:text="${log.log_time}"></span></td>
									<td th:text="${log.spec_info}"></td>
									<td><span th:text="'SUPI:' +${log.supi}"></span><br>
										<span th:text="'PEI:' +${log.pei}"></span><br> <span
										th:text="'SNSSAI:' +${log.snssai}"></span><br></td>
									<td><span
										th:text="'NFYPE:' +${log.nf_type}+ ' NFNAME ' +${log.nf_name}"></span></td>
									<td class="textCol"><span
										th:text="' FROM ' +${log.FROM} + ' -  TO ' + ${log.TO} "></span></td>
									<td><span th:text="'DEST_IP_PORT:' +${log.dest_ip_port}"></span><br>
										<span th:text="'SOURCE_IP_PORT:' +${log.source_ip_port}"></span><br>
									</td>
								</tr>
								<tr th:classappend="${log.getCssClass()}">
									<td colspan="6" class="textCol"><textarea disabled=""
											style="width: 100%; height: 250px;"><span
												th:text="${log.message}"></span></textarea></td>
								</tr>
								<tr th:classappend="${log.getCssClass()}">
									<td colspan="6" class="textCol"><span
										th:unless="${#strings.isEmpty(log.exception)}" /></span> <code
											th:text="${log.exception}"></code></td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>

		</form>


	</div>

</body>
</html>